* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "start";
    src: url("/fonts/PrStart.ttf");
  }

  html, body{
    height:100%;
    margin: 0;
  }

  
#secciones {
    height:100%;
    width: 100%;
  
}


#pantalla1 {
    background-color: #ececec;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pantalla2 {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#pantalla3 {
    background-color: black;
}

#pantalla3 h1 {
    color: red;
}

#pantalla4 {
    background-color: black;
}

#pantalla5 {
    background-image: url(/img/stage/stage1.png);
    background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; 
}

#pantalla5 img {
    
}

.red {
    background-color: #ff8989;
}

.header {
    background-color: black;
    
    width: 100%;
    height: 5%;
    
}

.imagenlogo{
    
}

.imagenlogo img{
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    width: 100%;
    height: 12em;
    background-color: #050505;
     
}

.footer p {
    margin-left: 50px;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    margin-top: 20px;
}

.pulsaboton {
    background-color: #f20c0c;
    font-size: 15px;
    height: 28%;
    width: 100%;
    float: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.pulsaboton h1 {
    color: #f9c2be;
    font-family: Arial, Helvetica, sans-serif;
    
    letter-spacing: 5px;
    margin-right: 15px;
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: start, sans-serif;
    color: #acc1d7;
    background-color: black;
    padding-top: 30px;
  
}

.volver {
    color: white;
}

.secvis {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.panel-luchadores {
    background-color: black;
    height: 58%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.luchadores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.luchador {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin: 2px;
    position: relative;
    background: linear-gradient(36deg, rgba(233,202,55,1) 0%, rgba(251,240,184,1) 60%);
    overflow: hidden;
    cursor: pointer;
}

.fotoluchador {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
}

.fotoluchador img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform .3s; 
}


.fotoluchador img:hover {
    transform: scale(1.1);
}



.nombre {
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    -webkit-text-stroke: 1px black;
    color: white;
}
/*
.custom-cursor {
    cursor: url(/img/cursor.png), auto;
}
*/


.selectplayers {
    
    width: 100%;
    display: flex;
    justify-content: center;
}

.select {
    width: 70%;
    background: rgb(0,78,157);
    background: linear-gradient(145deg, rgba(0,78,157,1) 0%, rgba(255,255,255,1) 70%, rgba(105,228,255,1) 100%);
    margin-top: 0 auto;
    border-radius: 10px 10px 0px 0px;
    
}



.players {
    
    display: flex;
    height: 100%;
    width: 100%;
    
}




.playerR {
    display: flex;
        background-color: #ff8989;
        margin: 6px;
        margin-bottom: 0;
        border-top: 10px solid rgb(173, 170, 170);
        border-left: 3px solid black;
        border-right: 3px solid black;
        overflow: hidden;
        height: 304px;
        width: 441px;
}
        
.text {
    
    text-transform:uppercase;
  }
  .parpadea {
    
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
   
  }
  
  
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
         
  .ocultar {
   
   
    display: none;
}
         
       
  
  /* copieta */      
  
        
  .cont-luchador {
    display: flex;
    background: linear-gradient(31deg, #7eb7ff 18%, #5ba4ff 18%, #5ba4ff 27%, #3c93ff 27%, #3c93ff 55%, #d6d6d6 55%);

    margin: 6px;
    margin-bottom: 0;
    border-top: 10px solid rgb(173, 170, 170);
    
    overflow: hidden;
    height: 310px;
    width: 312px;
}

.cont-luchador-red {
    display: flex;
    background: linear-gradient(31deg, #ff8989 18%, #fb5b5b 18%, #fb5b5b 27%, #ff3c3c 27%, #ff3c3c 55%, #d6d6d6 55%);
    position: relative;

    margin: 6px;
    margin-bottom: 0;
    border-top: 10px solid rgb(173, 170, 170);
    
    overflow: hidden;
    height: 310px;
    width: 312px;
}

   



.container-luchadores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(0,78,157);
    background: linear-gradient(145deg, rgba(0,78,157,1) 0%, rgba(255,255,255,1) 70%, rgba(105,228,255,1) 100%);
    margin-top: 0 auto;
    border-radius: 10px 10px 0px 0px;
    
}

.container-luchadores-red{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(157, 0, 0);
    background: linear-gradient(145deg, rgb(201, 5, 5) 0%, rgba(255,255,255,1) 70%, rgb(248, 125, 125) 100%);
    margin-top: 0 auto;
    border-radius: 10px 10px 0px 0px;
    
}

.foto-fighter {
    right: 50px;
}

/* PANTALLA VERSUS */

.prelucha-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.prelucha1 {
    margin-left: 100px;
}

.prelucha2 {
    margin-right: 100px;
}

.getready-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.getready-container p {
    color: white;
    font-family: "start";
    font-size: 20px;
}

.teamblue p {
    color: #acc1d7;
}

.teamred p {
    color: red;
}

/* PANTALLA LUCHA */

.header-lucha {
    display: flex;
    justify-content: center;
    color: white;
}

.container-pelea {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    color: white;
    
}

.luchador-sprite img{
   
}
    
          
    
     